/* Top-headerSec */


/* .Home{
  background-image: url("/home/mohan/sales-login/src/ImageSection/Background.webp");
  color: white;
} */
.topHeader.row {
  background-image: url("../ImageSection/headerBanner.webp");
  background-position: center;
  background-size: cover;
  color: #fff;
  margin: 0;
  align-items: center;
  font-size: 14px;
  padding: 15px;
}

span.headertop-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

a.remover-header {
  display: flex;
  justify-content: flex-end;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

a#dropdownMenuButton1 {
  text-decoration: none;
  color: #fff;
}

/* Midheader-Sec */

.headerLogo-sec {
  display: flex;
  align-items: center;
}

.logo-imager {
  height: 60px;
  padding: 5px;
  margin: 0px 10px;
}

img.logoBrand {
  height: 100%;
}

.midHeaderSec.row {
  margin: 0;
  align-items: center;
  padding: 15px;
}

svg.header-toggle {
  font-size: 24px;
}

.search-grp {
  display: flex;
  align-items: center;
  border: 3px solid #333;
  padding: 4px 10px;
  border-radius: 15px;
}

.input-group.mb-3 {
  border: none;
  margin: 0 !important;
}

a {
  cursor: pointer;
}

a.dropdown-item {
  font-size: 13px;
}

input.form-control.searcher {
  border: none;
  font-size: 14px;
  box-shadow: none;
  background:transparent;
}

svg {
  cursor: pointer;
}

.midHeader-rightSec {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

svg.Mid-Svg {
  font-size: 24px;
}

svg.Mid-Svg2 {
  font-size: 24px;
  margin: 0px 50px;
}

.MenuSec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomHeaderSec.row {
  justify-content: center;
  background: #000;
  padding: 17px 0px;
}

a.linkMenu {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
svg {
  cursor: pointer;
  color: black;
}
.HeaderWrapper {
  position: relative;
}

.popup {
  position: fixed;
  bottom: 630px;
  right: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
  z-index: 1000;
  max-width: 300px; /* Adjust max-width as needed */
}

.popup-content {
  text-align: center;
}

.close-btn-1 {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  height: 40px;
  width: 93px;
}

.close-btn-1:hover {
  background-color: #d32f2f;
}

.Logout-btn {
  margin-left: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  height: 40px;
  width: 93px;
}

.Logout-btn:hover {
  background-color: #d32f2f;
}
svg.user-icon {
  width: 45px;
  height: 40px;
  margin-bottom: 12px;
}
.poppins-1{
  font-family: poppins;
}
.poppins-2{
  font-family: poppins;
}