.container-4 {
    height: 1500px;
}

.addr-1 {
    width: 1850px;
    height: 1000px;
}

.aod-1 {
    width: 1850px;
    height: 700px;
}

.gri {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: fit-content;
    grid-column-gap: 45px;
    grid-row-gap: 50px;
}

h2.ovjh-1 {
    margin-left: 30%;
    margin-top: 10px;
    font-size: 40px;
    color: black;
    text-shadow: 2px 2px 5px;
}

img.ovji {
    margin-left: 35px;
    width: 408px;
    margin-top: 40px;
}

.ovjs-1 {
    margin-left: 55px;
    margin-top: 30px;
}

h6.ovjs-2 {
    width: 370px;
}

h6.ovjs-4 {
    display: inline-block;
    font-size: 20px;
    color: brown;
    margin-top: 0px;
}

h6.ovjs-5 {
    display: inline-block;
    margin-left: 75px;
    margin-top: 4px;
    font-size: 22px;
}

h6.ovjs-6 {
    margin-top: 1px;
    color: darkcyan;
    font-size: 17px;
}

h6.ovjs-3 {
    font-size: 20px;
    font-family: ui-monospace;
    color: #504d4d;
}

.aod-2 {
    
    width: 350px;
    height: 300px;
    background-color: snow;
    box-shadow: 10px 10px lightgrey;
    display: inline-block;
    margin-top: 20px;
   margin-left: 40px;
    border-radius: 25px;
}

.aod-3 {
    
    width: 350px;
    height: 300px;
    background-color: snow;
    box-shadow: 10px 10px lightgrey;
    margin-top: 20px;
    display: inline-block;

    border-radius: 25px;
}

.aod-4 {
    
    width: 350px;
    height: 300px;
    background-color: snow;
    box-shadow: 10px 10px lightgrey;
    display: inline-block;
    margin-top: 20px;
    border-radius: 25px;
}

img.ovji {
    margin-left: 26px;
    width: 300px;
    margin-top: 27px;
    height: 150px;
}

.ovjs-7 {
    margin-left: 70 px;
}

img.ovji-1 {
    margin-left: 48px;
    width: 357px;
    margin-top: 30px;
    height: 179px;
}

.ovjs-7 {
    margin-left: 40px;
    margin-top: 15px;
}

.aod-5 {
   
    width: 350px;
    height: 300px;
    background-color: snow;
    box-shadow: 10px 10px lightgrey;
    display: inline-block;
   margin-left: 40px;
    border-radius: 25px;
}

.aod-6 {
    
    width: 350px;
    height: 300px;
    background-color: snow;
    box-shadow: 10px 10px lightgrey;
    display: inline-block;
   
    border-radius: 25px;
}

.aod-7 {
  
    width: 350px;
    height: 300px;
    background-color: snow;
    box-shadow: 10px 10px lightgrey;
    display: inline-block;
   
    border-radius: 25px;
}

.aod-8 {
   
    width: 350px;
    height: 300px;
    background-color: snow;
    box-shadow: 10px 10px lightgrey;
    display: inline-block;
   margin-left: 40px;
    border-radius: 25px;
}

.ibt-1 {
    padding: 8px 16px;
    border-Radius: 4px;
    border: 1px solid forestgreen;
    background-Color:forestgreen;
    color: #fff;
    font-Size: 16px;
    cursor: pointer;
}

input .ibt {
    height: 50px;
    width: 295px;
    margin-left: 21px;
    border-radius: 10px;
}

#btn {
    padding: 8px 12px;
    margin-Right: 8px;
    border-Radius: 4px;
    border: 1px solid #ccc;
    font-Size: 16px;
    width: 270px;
    box-Sizing: border-box;
    margin-left: 60px;
}

@media (max-width: 600px) {
    .container-4 {
        height: auto;
    }

    .addr-1, .aod-1 {
        width: 100%; 
        height: auto; 
    }

    .gri {
        grid-template-columns: 1fr; 
        grid-column-gap: 20px;
        grid-row-gap: 30px;
        width: 100%; 
    }
    .ovj-1 {
        display: flex;
        justify-content: center;
        margin-left: 0px;
    }
    h2.ovjh-1 {
        margin-left: 5%;
        margin-top: 10px;
        font-size: 24px; 
    }

    img.ovji {
        width: 90%; 
        margin-left: 20px;
        margin-top: 20px;
        
    }

    .aod-2, .aod-3, .aod-4, .aod-5, .aod-6, .aod-7, .aod-8 {
        width: 100%;
        height: auto;
        margin-left: 0; 
    }

    img.ovji-1 {
        width: 100%;
        height: auto;
        margin-left: 0;
    }
    .ibtn-1 {
        width: 50%;
    }
    #btn {
        width: 70%;
        margin-left: 13px;
    }

    button.ibt-1 {
        position: absolute;
        width: auto;
    }
}


@media (min-width: 601px) and (max-width: 1210px) {
    .container-4 {
        width: 100%;
        height: auto;
    }
 
    .addr-1, .aod-1 {
        width: 100%;
        height: auto;
    }

    .gri {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 40px;
    }
    .ovj-1 {
        display: flex;
        justify-content: center;
        margin-left: 0px;
    }

    h2.ovjh-1 {
        margin-left: 10%; 
        margin-top: 10px;
        font-size: 32px;
    }

    img.ovji {
        width: 90%;
        margin-top: 30px;
    }

    .aod-2, .aod-3, .aod-4, .aod-5, .aod-6, .aod-7, .aod-8 {
        width: 100%; 
        height: auto;
        margin-left: 0; 
    }

    img.ovji-1 {
        width: 100%; 
        height: auto; 
        margin-left: 0;
    }

    .ibtn-1 {
        width: 50%;
    }
    #btn {
        width: 70%;
        margin-left: 13px;
    }

    button.ibt-1 {
        position: absolute;
        width: auto;
    }
}
@media(min-width:1024px) and (max-width:1210px){
    img.ovji {
        margin-left: 26px;
        width: 85%;
        margin-top: 27px;
        height: 150px;
    }
}
@media (min-width:1300px) and (max-width:2500px){
    .container-4 {
        height: auto;
    }

    .addr-1, .aod-1 {
        width: 100%;
        height: auto;
    }

    .gri {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 180px;
        grid-row-gap: 40px;
        margin-top: 3%;
    }

    h2.ovjh-1 {
        margin-top: 10px;
        font-size: 60px;
        display: flex;
        justify-content: center;
        margin-left: 0px;
        
    }

    img.ovji {
        width: 90%;
        margin-left: 36px;
        margin-top: 41px;
        
    }
    .aod-2, .aod-3, .aod-4, .aod-5, .aod-6, .aod-7, .aod-8 {
        width: 100%; 
        height: auto;
        margin-left: 0; 
    }
    #btn {
        width: 40%;
        display: flex;
        margin-left: 100px;
    }

    button.ibt-1 {
        width: fit-content;
        margin-left: -18px;
        position: absolute;
        margin-top: -40px;
    }
    .ibtn-1 {
        width: 30%;
        margin-left: 2%;
    }
    .ovjs-7 {
        margin-left: 132px;
        margin-top: 15px;
        display: flex;
        align-items: center;
    }
    h6.ovjs-3 {
        font-size: 35px;
        font-family: ui-monospace;
        color: #504d4d;
    }
    h6.ovjs-4 {
        display: inline-block;
        font-size: 40px;
        color: brown;
        margin-top: 10px;
    }
    h6.ovjs-5 {
        display: inline-block;
        margin-left: 75px;
        margin-top: 4px;
        font-size: 35px;
    }
    h6.ovjs-6 {
        margin-top: 10px;
        color: darkcyan;
        font-size: 28px;
    }
}

