.container-4 {
    height: 1500px;
}

.addr-1 {
    width: 1850px;
    height: 1000px;
}

.aod-1 {
    width: 1850px;
    height: 700px;
}

h2.ovjh-1 {
    margin-left: 800px;
    margin-top: 30px;
    font-size: 40px;
    color: black;
    text-shadow: 2px 2px 5px;
}

img.ovji {
    margin-left: 35px;
    width: 408px;
    margin-top: 40px;
}

.ovjs-1 {
    margin-left: 55px;
    margin-top: 30px;
}

h6.ovjs-2 {
    width: 370px;
}

h6.ovjs-4 {
    display: inline-block;
    font-size: 20px;
    color: brown;
    margin-top: 0px;
}

h6.ovjs-5 {
    display: inline-block;
    margin-left: 75px;
    margin-top: 4px;
    font-size: 22px;
}

h6.ovjs-6 {
    margin-top: 1px;
    color: darkcyan;
    font-size: 17px;
}

h6.ovjs-3 {
    font-size: 23px;
    font-family: ui-monospace;
    color: #504d4d;
}

.aod-2 {
    margin-left: 10px;
    width: 411px;
    height: 338px;
    background-color: snow;
    box-shadow: 10px 10px lightgrey;
    display: inline-block;
    margin-top: 20px;
    border-radius: 25px;
}

.aod-3 {
    margin-left: 50px;
    width: 411px;
    height: 338px;
    background-color: snow;
    box-shadow: 10px 10px lightgrey;
    display: inline-block;
    margin-top: 20px;
    border-radius: 25px;
}

.aod-4 {
    margin-left: 50px;
    width: 411px;
    height: 338px;
    background-color: snow;
    box-shadow: 10px 10px lightgrey;
    display: inline-block;
    margin-top: 20px;
    border-radius: 25px;
}

img.ovji {
    margin-left: 26px;
    width: 357px;
    margin-top: 27px;
    height: 173px;
}

.ovjs-7 {
    margin-left: 70 px;
}

img.ovji-1 {
    margin-left: 48px;
    width: 357px;
    margin-top: 30px;
    height: 179px;
}

.ovjs-7 {
    margin-left: 55px;
    margin-top: 30px;
}

.aod-5 {
    margin-left: 50px;
    width: 411px;
    height: 338px;
    background-color: snow;
    box-shadow: 10px 10px lightgrey;
    display: inline-block;
    margin-top: 20px;
    border-radius: 25px;
}

.aod-6 {
    margin-left: 10px;
    width: 411px;
    height: 338px;
    background-color: snow;
    box-shadow: 10px 10px lightgrey;
    display: inline-block;
    margin-top: 60px;
    border-radius: 25px;
}

.aod-7 {
    margin-left: 50px;
    width: 411px;
    height: 338px;
    background-color: snow;
    box-shadow: 10px 10px lightgrey;
    display: inline-block;
    margin-top: 60px;
    border-radius: 25px;
}

.aod-8 {
    margin-left: 50px;
    width: 411px;
    height: 338px;
    background-color: snow;
    box-shadow: 10px 10px lightgrey;
    display: inline-block;
    margin-top: 60px;
    border-radius: 25px;
}

.ibt-1 {
    padding: 8px 16px;
    border-Radius: 4px;
    border: 1px solid forestgreen;
    background-Color:forestgreen;
    color: #fff;
    font-Size: 16px;
    cursor: pointer;
}

input .ibt {
    height: 50px;
    width: 295px;
    margin-left: 21px;
    border-radius: 10px;
}

#btn {
    padding: 8px 12px;
    margin-Right: 8px;
    border-Radius: 4px;
    border: 1px solid #ccc;
    font-Size: 16px;
    width: 270px;
    box-Sizing: border-box;
    margin-left: 60px;
}