iframe {

 
   
    margin-left: 260px;
    margin-top: 30px;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px 10px;
}
.google-map{
    height: 1000px;
    background-color: skyblue;
}