iframe {

    margin-left: 400px;
    margin-top: 54px;
    width: 1000px;
    height: 750px;
    margin-left: 500px;
    margin-top: 124px;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px 10px;
}
.google-map{
    height: 1000px;
    background-color: skyblue;
}