.maps {
    display: flex;
    justify-content: center;
  }
  
  .google-map {
    width: 600px;
    height: 450px;
    overflow: hidden; /* Ensure iframe does not overflow */
    position: relative;
  }
  
  .google-map iframe {
    width: 100%;
    height: 100%;
    border: 0;
    animation: rotateEarth 60s linear infinite; /* Animation for rotation */
  
    /* Optional: Adjust perspective for a 3D effect */
    transform: perspective(1000px);
  }
  
  @keyframes rotateEarth {
    from {
      transform: perspective(1000px) rotateY(0deg);
    }
    to {
      transform: perspective(1000px) rotateY(360deg);
    }
  }
  