
.container-login23 {
    margin-left: 13%;
    margin-top: 3%;
  
}

.main-con11 {
    width: 875px;
    height: 570px;
    border-radius: 20px;
    margin: 5em auto;
    display: flex;
    box-shadow: 10px 10px 10px 10px black;
}

.company__in11 {
    background-color: #008080;
    width: 230px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.row.main-con11.text-center {
    height: auto;
}

-titles {
    width: 170px;
    height: 45px;
    margin-left: 10px;
}

.fa-android {
    font-size: 3em;
}

.row > h2 {
    color: #008080;
}

h2.lgooo {
    margin-right: 10px;
    margin-top: 15px;
    color: #008080;
}

.login_forms {
    background-color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 500px;
}

form.form-controls.login {
    border: 1px solid white;
    width: 500px;
    margin-left: 80px;
}

.form-users {
    width: 85%;
    border: 0px solid transparent;
    border-radius: 0;
    border-bottom: 1px solid #aaa;
    padding: 1em .5em .5em;
    padding-left: 1em;
    outline: none;
    margin: 0.5em auto;
    transition: all .5s ease;
}

.form-users:focus {
    border-bottom-color: #008080;
    box-shadow: 0 0 5px rgba(0, 80, 80, .4);
    border-radius: 4px;
}

.btn-saves {
    transition: all .5s ease;
    width: 450px;
    border-radius: 30px;
    color: #008080;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #008080;
    margin-top: 20px;
    margin-bottom: 1em;
    margin-left: 5px;
    height: 40px;
}

.btn-saves:hover, .btn:focus {
    background-color: #008080;
    color: #fff;
}

.container-fluids {
    width: 100%;
    height: auto;
}

label.form-userLists {
    display: inline-block;
    width: 150px;
    margin-top: 24px;
}

input.form-userlists {
    display: inline-block;
    width: 20px;
    margin-top: 24px;
}

.roweds {
    width: 174px;
    margin-bottom: 8px;
    margin-left: 35px;
}

h4.company_title {
    font-family: monospace;
}

.form-inputs {
    position: relative;
    width: 85%;
    border: 0px solid transparent;
    border-radius: 0;
    border-bottom: 1px solid #aaa;
    padding: 1em .5em .5em;
    padding-left: 1em;
    outline: none;
    margin: 0.5em auto;
    transition: all .5s ease;
}

span.visible-1 {
    position: absolute;
    margin-top: 30px;
}

span.visible-2 {
    position: absolute;
    margin-top: 30px;
}

svg.llggoo {
    width: 77px;
    height: 71px;
}


@media (max-width: 768px) {
    .container-login23 {
        margin-left: 5%;
        margin-top: 5%;
        padding: 0 5%;
    }
    .main-con11 {
        width: 100%;
        height: auto;
        margin: 2em auto;
        flex-direction: column;
        box-shadow: 10px 10px 10px 10px black;
    }
    .company__in11 {
        width: 100%;
        height: auto;
        border-radius: 20px 20px 0 0;
        align-items: center;
    }
    .login_forms {
        width: 100%;
        border-radius: 0 0 20px 20px;
    }
    form.form-controls.login {
        width: 100%;
        margin-left: 0;
        padding: 0 10%;
    }
    .btn-saves {
        width: 100%;
        margin-left: 0;
    }
    .form-users, .form-inputs {
        width: 100%;
    }
    .roweds {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
    label.form-userLists {
        width: auto;
        margin-top: 0;
        text-align: left;
    }
    svg.llggoo {
        width: 200%;
        height: auto;
        margin: 0 auto;
    }
}


@media (max-width: 480px) {
    .container-login23 {
        margin-top: 5px;
        padding: 0.5%;
        margin-left: 5%;
    }
    .main-con11 {
        width: 100%;
        margin: 1em auto;
        box-shadow: none;
        box-shadow: 10px 10px 10px 10px black;
    }
    .company__in11 {
        width: 100%;
        height: auto;
        border-radius: 20px 20px 0 0;
        align-items: center;
    }
    img.company-titles {
        width: 60%;
        height: auto;
        margin: 0 auto;
    }
    svg.llggoo {
        width: 200%;
        height: auto;
        margin: 0 auto;
    }
    .login_forms {
        width: 100%;
        border-radius: 0 0 20px 20px;
    }
    form.form-controls.login {
        width: 100%;
        margin-left: 0;
        padding: 0 5%;
    }
    .btn-saves {
        width: 100%;
        margin-left: 0;
    }
    .form-users, .form-inputs {
        width: 100%;
    }
    .roweds {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
    label.form-userLists {
        width: auto;
        margin-top: 0;
        text-align: left;
    }
    .company__in11 {
        padding: 10px 0;
    }
}
@media (min-width:769px) and (max-width:1060px){
   
    .container-login23 {
        margin-left: 5%;
        margin-top: 5%;
        padding: 0 5%;
    }

    .main-con11 {
        width: 100%;
        margin: 1em auto;
        box-shadow: none;
        box-shadow: 10px 10px 10px 10px black;
    }
    .company__in11 {
        width: 100%;
        height: auto;
        border-radius: 20px 20px 0 0;
    }
    img.company-titles {
        width: 100%;
        height: auto;
        margin: 0 auto;
        
    }
    .login_forms {
        width: 100%;
        border-radius: 20px;
    }
    form.form-controls.login {
        width: 100%;
        margin-left: 0;
        padding: 0 5%;
    }
    .btn-saves {
        width: 100%;
        margin-left: 0;
    }
    .form-users, .form-inputs {
        width: 100%;
    }
    .roweds {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
    label.form-userLists {
        width: auto;
        margin-top: 0;
        text-align: left;
    }
    .company__in11 {
        padding: 10px 0;
    }

}