

.return-section {
  padding: 20px;
  background-color: cadetblue;
  color: white;
  border-radius: 8px;
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
}

.return-section form {
  display: flex;
  flex-direction: column;
}

.return-section label {
  margin: 10px 0 5px;
  font-weight: bold;
}

.return-section input[type="text"],
.return-section input[type="email"],
.return-section textarea,
.return-section select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: serif;
}

.return-section textarea {
  resize: vertical;
  min-height: 100px;
}

.return-section input[type="submit"] {
  background-color: darkslategray;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.return-section input[type="submit"]:hover {
  background-color: rgb(94, 112, 112);
}
