.topHeader.row {
    background-image: url("../ImageSection/headerBanner.webp");
    background-position: center;
    background-size: cover;
    color: #fff;
    margin: 0;
    align-items: center;
    font-size: 14px;
    padding: 15px;
  }
  
  span.headertop-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  a.remover-header {
    display: flex;
    justify-content: flex-end;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .bi-1 {
    height: 295px;
    width: 365px;
    margin-top: 20px;
    margin-left: 20px;
}
img.bumpImg-1 {
    width: 365px;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.ad {
    height: 50px;
    width: 365px;
}
button.ad-1 {
    width: 182px;
    height: 50px;
    display: inline-block;
    border: none;
    border-bottom-left-radius: 20px;
    background-color:#f4511e;
    color: white;
    opacity: 1;
    transition: 0.3s;
}
button.ad-1:hover{
    opacity: 0.6;
}
button.ad-2 {
    display: inline-block;
    width: 183px;
    height: 50px;
    border: none;
    border-bottom-right-radius: 20px;
    background-color:#f4511e;
    color: white;
    opacity: 1;
    transition: 0.3s;
}
button.ad-2:hover{
   opacity: 0.6;
}
.ads-1 {
    display: inline-block;
}
.ads-2 {
    display: inline-block;
}

.bumberImager-1 {
    display: inline-block;
    margin-left:93px;
    margin-top: 25px;
}
.bumberImager-2 {
    display: inline-block;
    margin-left:30px;
}
.bumberImager-3 {
    display: inline-block;
    margin-left:30px;
}
.bumberImager-4 {
    display: inline-block;
    margin-left:30px;
}
.bumberImager-5 {
    display: inline-block;
    margin-left:93px;
}
.bumberImager-6 {
    display: inline-block;
    margin-left:35px;
}

.bumberImager-7 {
    display: inline-block;
    margin-left:30px;
}
.bumberImager-8 {
    display: inline-block;
    margin-left:30px;
}
.bumberImager-9 {
    display: inline-block;
    margin-left:93px;
}
.bumberImager-10 {
    display: inline-block;
    margin-left:30px;
}
.bumberImager-11 {
    display: inline-block;
    margin-left:30px;
}
.bumberImager-12 {
    display: inline-block;
    margin-left:30px;
}
.ads-2{
    text-decoration: none;
}
.ads-2 a {
    color: black;
    text-decoration: none;
}
/* .ads-1 :active{
    background-color: blanchedalmond;
} */
.App{
    background-color: #fff;
}
a{
    text-decoration: none;
}
.ads-1 a{
    text-decoration: none;
}