/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
  }
  
  /* Header styles */
  header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  /* Main content styles */
  .main-content {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Link styles */
  a {
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #45a049;
  }
  
  /* Button styles */
  .button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    background-color: #f0f0f0;
  }
  
  .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 620px;
  }
  
  
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: darksalmon;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  h2.form-header{

    margin-top: 0;
    margin-bottom: 1.5rem;
    font-weight: 00;
    line-height: 1.2;
    color: var(--bs-heading-color);
    margin-left: 169px;
}
button.submit-button {
    margin-top: 40px;
    width: 535px;
    background-color: darkcyan;
    color: black;
    margin-left: 20px;
}
  